.wordWidget {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* align-items: center; */
	justify-content: center;
	width:initial;
	min-height: 48px;
	gap: 8px;
	transition: 0.15s;
	border-radius: 8px;
	padding:8px;
	background-color: #0001;
	&:hover {
		background-color: var(--color-sub-light);
	}
	& .dateName {
		display: flex;
		/* width: 256px; */
		height: 100%;
		align-items: center;
		&>a {
			display: flex;
			align-items: center;
			&:hover {
				color:#fff;
			}
			&>span {
				margin-left: 32px;
				font-size:22px;
			}
		}
	}
}