/* :root {
	--color-main:#F5DAD2;
	--color-main-light:#FCFFE0;
	--color-sub-light:#BACD92;
	--color-sub:#75A47F;
} */
:root {
	--color-main:#61A3BA;
	--color-main-light:#FFFFDD;
	--color-sub-light:#D2DE32;
	--color-sub:#A2C579;
}

:root {
	--header-height:64px;
	--footer-height:64px;
}

.innerbox {
	width:1280px;
	height:100%;
	margin:0 auto;
}

.h100 {
	height:100%;
}

.w100 {
	width: 100%;
}

.iconButton {
	font-size: 24px;
	cursor: pointer;
	color:#333;
	transition:0.15s;
}

.genericButton {
	display: flex;
	align-items: center;
	padding: 8px;
	border-radius: 8px;
	color: #fff;
	user-select: none;
	cursor: pointer;
	font-size: 18px;
	transition: 0.15s;
	&:hover {
		filter:brightness(1.25);
	}
	&.add {
		background-color: #393;
	}
	&.delete {
		background-color: #c33;
	}
	&.edit {
		background-color: #393;
	}
	&.back {
		background-color: #633;
	}
	&.clear {
		background-color: #39c;
	}
	&.close {
		background-color: #c33;
	}
}