body {
	background-color: var(--color-main-light);
	overflow-x: hidden;
}

#dictionary {
	background-color: var(--color-main-light);
	/* overflow-y: scroll; */
	/* min-height: calc(100vh - var(--header-height) - var(--footer-height)); */
	height: 100dvh;
	padding-top: calc(96px + var(--header-height));
	padding-bottom: calc(96px + var(--footer-height));
}