#dictionary {
	
}

.wordWidget {
	display: flex;
	gap: 8px;
}

.tagWidgets {
	display: flex;
	gap: 8px;
}

.tagWidget {
	display: inline-block;
	border-radius: 8px;
	background-color: var(--color-light);
	transition: 0.15s;
	&:hover {
		background-color: var(--color-dark);
		color:#fff;
		box-shadow: 4px 4px 4px #0003;
	}
	&>a {
		padding: 4px 8px;
		display: block;
		width: 100%;
		height: 100%;
	}
}